```css id="vqj4k1"
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.container {
    width: 500px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

#taskInput {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#addBtn {
    padding: 12px;
    border: none;
    background: #0ea5e9;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#addBtn:hover {
    background: #0284c7;
}

#taskList {
    list-style: none;
}

#taskList li {
    background: #fafafa;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.buttons button {
    margin-left: 5px;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.complete-btn {
    background: green;
    color: white;
}

.delete-btn {
    background: red;
    color: white;
}
```
